:root {
  --techvines-lime: #a1d149;
  --techvines-gray: #cbcbcb;
  --tv-background-blk: #000222;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #222;
}

header {
  background-color: #222;
  padding: 15px;
}

#icon-header-right {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 30px;
  padding: 15px;
  height: 60px;
  width: 60px;
  background-color: #222;
}

main {
  box-sizing: border-box;
}
section {
  height: 630px;
  width: 100%;
}

#first {
  background-image: url(/TechVines/img/techvines-background-offical.png);
  background-size: 100%;
  background-position: center;
}

#second {
  background-color: whitesmoke;
}

#third {
  background-color: #cbcbcb;
}

#fourth {
  background-color: var(--techvines-lime);
}

.site-nav ul {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.site-nav a {
  display: block;
  padding: 10px 20px;
  border-radius: 999px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
}

.site-nav a:hover,
.site-nav a.active {
  background: var(--techvines-lime);
  color: #222;
}

footer {
  background-color: #222;
  padding: 10px;
}
img.icon-footer {
  width: 40px;
  height: 40px;
  display: flex;
  justify-self: center;
}
