body {
  background-image: url(/TechVines/img/techvines-background-offical.png);
  background-size: 100%;
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

.site-nav ul {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.site-nav a {
  display: block;
  padding: 12px 20px;
  border-radius: 999px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
}
.site-nav a:hover,
.site-nav a.active {
  background: #04aa6d;
  color: #fff;
}

footer img {
  width: 50px;
  height: 50px;
}
