body {
  background-image: url(/TechVines/img/techvines-background-offical.png);
  background-size: 100%;
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

header {
  background-color: #222;
  padding: 10px;
  margin: 10px;
  padding: 10px;
}

header.header-icon-right {
  float: right;
  height: 20px;
  width: 40px;
}

main {
  background-color: #ffffff;
  height: 630px;
  width: 100%;
}

.site-nav ul {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.site-nav a {
  display: block;
  padding: 10px 20px;
  border-radius: 999px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
}
.site-nav a:hover,
.site-nav a.active {
  background: #04aa6d;
  color: #fff;
}

footer {
  background-color: #222;
  padding: 10px;
}
img.icon-footer {
  width: 40px;
  height: 40px;
  display: flex;
  justify-self: center;
}
